<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>
  </tr>
  <%= render (@invoices) || "There are no invoices!" %>
    <tr>
      <th><%= @invoices.id %></th>
      <th><%= @invoices.orders.first ? @invoices.orders.first.customer.name : "No Orders" %></th>
    </tr>
</table>
